{% extends "base.html" %}

{% block title %}Browse Employees{% endblock %}

{% block content %}

    <h1>Employees</h1>

    <a href="/employees/add">Add Employee</a>
    <br><br>

    <table border="1">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
    </tr>

    {% for employee in employees %}
    <tr>
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.role }}</td>
        <td>
        <a href="/employees/edit/{{ employee.employee_id }}">Edit</a>

        <form action="/employees/delete/{{ employee.employee_id }}" method="POST" style="display:inline;">
          <button type="submit" onclick="return confirm('Delete this Employee?')">Delete</button>
        </form>
    </td>
    </tr>
    {% endfor %}
</table>

    <a href="/">Back to Home</a>
{% endblock %}