{% extends "base.html" %}

{% block title %}Procedures{% endblock %}

{% block content %}

    <h1>Procedures</h1>

    <table border="1">
    <tr>
        <th>Procedure ID</th>
        <th>Patient Name</th>
        <th>Procedure Type</th>
        <th>Date</th>

    </tr>

    {% for procedure in procedures %}
    <tr>
        <td>{{ procedure.procedure_id }}</td>
        <td>{{ procedure.patient_name }}</td>
        <td>{{ procedure.procedure_type_name }}</td>
        <td>{{ procedure.procedure_date}}</td>
    </tr>
    {% endfor %}
</table>

    <a href="/">Back to Home</a>
{% endblock %}