{% extends "base.html" %}

{% block title %}Browse Inventory{% endblock %}

{% block content %}
    <h1>Inventory</h1>

    <a href="/inventory/add">Add Product</a>
    <br><br>

    <table border="1">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Cost</th>

    </tr>

    {% for inventory in inventories %}
    <tr>
        <td>{{ inventory.product_id }}</td>
        <td>{{ inventory.product_name }}</td>
        <td>{{ inventory.unit_cost }}</td>
        <td>
        <a href="/inventory/edit/{{ inventory.product_id }}">Edit</a>

        <form action="/inventory/delete/{{ inventory.product_id }}" method="POST" style="display:inline;">
          <button type="submit" onclick="return confirm('Delete this product?')">Delete</button>
        </form>
    </td>
    </tr>
    {% endfor %}
</table>

    <a href="/">Back to Home</a>
{% endblock %}