<!DOCTYPE html>
<html>
<head>
    <title>Dental Practice Management Database</title>
</head>
<body>
    <h1>Dental Clinic Entities</h1>
    <ul>
        <li><a href="/browse_patients">Browse Patients</a></li>
        <li><a href="/browse_employees">Browse Employees</a></li>
        <li><a href="/browse_inventory">Browse Inventory</a></li>
        <li><a href="/browse_procedures">Browse Procedures</a></li>
        <li><a href="/browse_procedure_types">Browse Procedure Types</a></li>
        <li><a href="/browse_procedure_inventory">Browse Procedure Inventory</a></li>
        <li><a href="/browse_procedure_employees">Browse Procedure Employees</a></li>
    </ul>
</body>
</html>